html, body {
  height: 100%;
  margin: 0; 
  font-family: 'Noto Sans JP', sans-serif; /* Added Google Font */
}

body {
  background-color: #88dbff;
  color: #0f2e2e;
  width: 500px;
  margin: auto;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 90vh;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added box shadow for style */
  padding: 20px;
  border-radius: 15px;
}

h1 {
  color: #085f63;
  font-size: 24px;
}

p {
  color: #0a4b4f;
}

button {
  padding: 10px 25px;
  background-color: #d672d2;
  border-style: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #e991e9;
  transform: scale(1.05);
}

input {
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

#result-area {
  margin-top: 20px;
  width: 200%;
  max-height: 350px; /* Increased height for larger scroll area */
  overflow-y: auto; /* Enable vertical scroll */
  padding: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #ddd;
}

#tweet-area {
  margin-top: 10px;
}

/* Custom Scrollbar for result area */
#result-area::-webkit-scrollbar {
  width: 8px;
}

#result-area::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#result-area::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

#result-area::-webkit-scrollbar-thumb:hover {
  background: #555;
}